{% extends "_layouts/base.html" %}
{% load staticfiles %}
{% load base_tags %}

<!-- Metadata -->
{% block page_title %}Forbidden{% endblock %}
<!-- End Metadata -->

{% block pageheader %}
    <div class="page-header expanded bottomless">
        <div class="container page-header-content">
            <h1>Forbidden</h1>
            <p>Sorry, your request to the server is forbidden. But there's no sense crying over every mistake. You just <a href="{% url 'home' %}">keep on trying</a> till you run out of cake.</p>
        </div>
        <div class="overlay"></div>
    </div>
{% endblock %}
