{% extends "_layouts/base.html" %}
{% load staticfiles %}
{% load base_tags %}

<!-- Metadata -->
{% block page_title %}Page Not Found{% endblock %}
<!-- End Metadata -->

{% block pageheader %}
    <div class="page-header expanded bottomless">
        <div class="container page-header-content">
            <h1>Page not found</h1>
            <p>Sorry, we couldn't find the page you are looking for. It looks like this was the result of either a mistyped address or an out-of-date link. Perhaps try <a href="{% url 'home' %}">going back to the home page</a> to find what you're looking for.</p>
        </div>
        <div class="overlay"></div>
    </div>
{% endblock %}
