{% extends '_layouts/base.html' %}
{% load base_tags %}
{% load mptt_tags %}

<!-- Metadata -->
{% block page_title %}Search{% endblock %}
<!-- End Metadata -->

{% block content %}

    <form method="get" action=".">

        <!-- Advanced Search Box -->
        <div class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-center">Advanced Search</h2>
                        <hr class="intro-divider">
                        <div>
                            <div class="form-group row">
                                <div class="col-sm-4 adv-form">
                                    {{ form.keyword.label }}: {{ form.keyword }}
                                </div>
                                <div class="col-sm-4 adv-form">
                                    {{ form.unum.label }}: {{ form.unum  }}
                                </div>
                                <div class="col-sm-4 adv-form">
                                    {{ form.museum_num.label }}: {{ form.museum_num }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4 adv-form">
                                    {{ form.object_type.label }}: {{ form.object_type }}
                                </div>
                                <div class="col-sm-4 adv-form">
                                    {{ form.museum.label }}: {{ form.museum }}
                                </div>
                                <div class="col-sm-4 adv-form">
                                    {{ form.material.label }}: {{ form.material }}
                                </div>
                            </div>                                  
                        </div>
                        <div class="collapse" id="advancedsearch">
                            <hr class="intro-divider">
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-1 adv-form">
                                    {{ form.property.label }}: {{ form.property }}
                                </div>
                                <div class="col-sm-3 adv-form">
                                    {{ form.search_type.label }}: {{ form.search_type }}
                                </div>
                                <div class="col-sm-4 adv-form">
                                    {{ form.q.label }}: {{ form.q }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-1 adv-form">
                                    {{ form.op.label }}: {{ form.op }}
                                </div>
                                <div class="col-sm-4 adv-form">
                                    {{ form.property2.label }}: {{ form.property2 }}
                                </div>
                                <div class="col-sm-3 adv-form">
                                    {{ form.search_type2.label }}: {{ form.search_type2 }}
                                </div>
                                <div class="col-sm-4 adv-form">
                                    {{ form.q2.label }}: {{ form.q2 }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-1 adv-form">
                                    {{ form.op2.label }}: {{ form.op2 }}
                                </div>
                                <div class="col-sm-4 adv-form">
                                    {{ form.property3.label }}: {{ form.property3 }}
                                </div>
                                <div class="col-sm-3 adv-form">
                                    {{ form.search_type3.label }}: {{ form.search_type3 }}
                                </div>
                                <div class="col-sm-4 adv-form">
                                    {{ form.q3.label }}: {{ form.q3 }}
                                </div>
                            </div>
                            <div class="model_selector">
                                <div class="col-sm-2 col-sm-offset-2">
                                    <p>Limit Search To: </p>
                                </div>
                                <div class="col-sm-8">                   
                                    {{ form.models }}
                                </div>
                            </div>
                        </div>
                        <h4 style="text-align: right;"><a style="color: #fff;" data-toggle="collapse" id="searchCollapse" href="#advancedsearch">More Search Options</a></h4>
                        <ul class="list-inline center-block text-center adv-form">
                            <li>
                                Order By:{{ form.order }}
                            </li>
                            <li>
                                <p>
                                    <input type="submit" id="search" value="Search">
                                </p>
                            </li>
                            <li>
                                <p>
                                    <input onClick="clear_pub_search()" type="button" value="Clear" />
                                </p>
                            </li>
                            <li>
                                <p>
                                    <input type="submit" id="export" value="Export Results">
                                </p>
                            </li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Advanced Search Box -->

        {% if query or page.object_list %}
            <div class="content-section-b">
                <div class="container">
                    <div class="row">
          
                        <!-- Facets Column -->
                        <div class="col-md-4">
                            <div class="well">
                                <!-- Begin faceting -->
                                <div id="ot_facetname">
                                    <h4>By Object Type</h4>
                                </div>
                                
                                <ul style="list-style-type: none;">
                                    {% get_facet_values 19 as facet_values %}
                                    {% build_facet_counts facets.fields.facet_prop_19 as facet_counts %}
                                    {% recursetree facet_values %}
                                        {% get_node_facet_count facet_counts node as current_total %}
                                        {% if current_total > 0 %}
                                        <li>
                                            <a href="{{ request.get_full_path }}&amp;selected_facets=facet_prop_19:{{ node.id|urlencode }}" data-toggle="popover" data-html="true" data-content="{{ node.notes }}">{{ node.title }} ({{ current_total }})</a>
                                            {% if not node.is_leaf_node %}
                                                <a data-toggle="collapse" class="collapse-button" href="#{{ node.id }}-collapse" style="color: #555;">  + Expand</a>
                                                <div class="collapse collapse-unit" id="{{ node.id }}-collapse">
                                                    <ul>
                                                        {{ children }}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                    {% endrecursetree %}
                                </ul> 

                                <div>
                                    <h4>By Material</h4>
                                </div>
                                
                                <ul style="list-style-type: none;">
                                    {% get_facet_values 12 as facet_values %}
                                    {% build_facet_counts facets.fields.facet_prop_12 as facet_counts %}
                                    {% recursetree facet_values %}
                                        {% get_node_facet_count facet_counts node as current_total %}
                                        {% if current_total > 0 %}
                                        <li>
                                            <a href="{{ request.get_full_path }}&amp;selected_facets=facet_prop_12:{{ node.id|urlencode }}" data-toggle="popover" data-html="true" data-content="{{ node.notes }}">{{ node.title }} ({{ current_total }})</a>
                                            {% if not node.is_leaf_node %}
                                                <a data-toggle="collapse" class="collapse-button" href="#{{ node.id }}-collapse" style="color: #555;">  + Expand</a>
                                                <div class="collapse collapse-unit" id="{{ node.id }}-collapse">
                                                    <ul>
                                                        {{ children }}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                    {% endrecursetree %}
                                </ul> 

                                <div>
                                    <h4>By Museum</h4>
                                </div>
                                
                                <ul style="list-style-type: none;">
                                    {% get_facet_values 59 as facet_values %}
                                    {% build_facet_counts facets.fields.facet_prop_59 as facet_counts %}
                                    {% recursetree facet_values %}
                                        {% get_node_facet_count facet_counts node as current_total %}
                                        {% if current_total > 0 %}
                                        <li>
                                            <a href="{{ request.get_full_path }}&amp;selected_facets=facet_prop_59:{{ node.id|urlencode }}" data-toggle="popover" data-html="true" data-content="{{ node.notes }}">{{ node.title }} ({{ current_total }})</a>
                                            {% if not node.is_leaf_node %}
                                                <a data-toggle="collapse" class="collapse-button" href="#{{ node.id }}-collapse" style="color: #555;">  + Expand</a>
                                                <div class="collapse collapse-unit" id="{{ node.id }}-collapse">
                                                    <ul>
                                                        {{ children }}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                    {% endrecursetree %}
                                </ul>                                 

                            </div>  
                        </div>
                        <!-- End Facets Column -->
        
                        <!-- Results Column -->
                        <div class="col-md-8">
                            <h2 style="text-align:center">Results</h2>
                            <button id="collapse-init" class="btn btn-default" style="float: right;">Expand All</button></br>
                            
                            <!-- Result Count -->
                            <p>{{ page.paginator.count }} results</p>
              
                            {% for result in page.object_list %}
                                {% include 'search/_result_object.html' %}
                            {% empty %}
                                <p>No results found.</p>
                            {% endfor %}

                            {% if page.has_previous or page.has_next %}
                                <div>
                                    {% if page.has_previous %}
                                        <a href="?{{ request.GET.urlencode }}&amp;page={{ page.previous_page_number }}">
                                    {% endif %}
                                    &laquo; Previous
                                    {% if page.has_previous %}
                                        </a>
                                    {% endif %}
                                    |
                                    {% if page.has_next %}
                                        <a href="?{{ request.GET.urlencode }}&amp;page={{ page.next_page_number }}">
                                    {% endif %}
                                    Next &raquo;
                                    {% if page.has_next %}
                                        </a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                        <!-- End Results Column -->
      
                    </div>
                </div>
            </div>

        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}

<!-- Search Unique JS -->
{% block js %}

{{ block.super }}

  <script>
    $(document).ready(function () {

        var active = true;

        $('#collapse-init').click(function (event) {
            event.preventDefault();
            if (active) {
                active = false;
                $('.panel-collapse').collapse('show');
                $('.panel-title').attr('data-toggle', '');
                $(this).text('Collapse All');
            } else {
                active = true;
                $('.panel-collapse').collapse('hide');
                $('.panel-title').attr('data-toggle', 'collapse');
                $(this).text('Expand All');
            }
        });
        
        $('#accordion').on('show.bs.collapse', function () {
            if (active) $('#accordion .in').collapse('hide');
        });
        
        $("#export").click(function() {
          $(this).closest("form").attr('action', "{% query_params_getlist request 'selected_facets' as facets %}{% url 'search_export' facets %}");
        });
        
        $("#search").click(function() {
          $(this).closest("form").attr('action', ".");
        });        

    });
  </script>
  
  <script>
    (function($) {
      jQuery(document).ready(function() {
        var ListLengthHidingTrigger = 7;
        var InitialListItems = 6;

        if ($("#ot_facetvalues dd").length > ListLengthHidingTrigger) {
            $("#ot_facetvalues dd:gt("+(InitialListItems-1)+")").hide(); // hide all but first N sections
            $('#ot_slidermenu').html('Show All Object Types');
        }
        $('div#ot_slidermenu:contains("All")').live('click',function() {
                        $('#ot_facetvalues dd').show(); // hide all but first 2 sections
                        $('#ot_slidermenu').html('Show Fewer Object Types');            
        });
        $('div#ot_slidermenu:contains("Fewer")').live('click',function() {
                        $("#ot_facetvalues dd:gt("+(InitialListItems-1)+")").hide(); // hide all but first N sections
                        $('#ot_slidermenu').html('Show All Object Types');            
        });
        $('#ot_facetname').click(function() {
            $('#ot_facetvalues').slideToggle(0);
        });        
      })
    });
  </script>   

{% endblock %}
<!-- End Search Unique JS -->