{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list admin_urls suit_list suit_tags %}
{% load url from future %}
{% load base_tags %}

{% block extrastyle %}
  {{ block.super }}
  {#  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />#}
  {% if cl.formset %}
    {#    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />#}
  {% endif %}
  {% if cl.formset or action_form %}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      {#      #changelist table thead th:first-child {width: inherit}#}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ media.js }}
  {% if action_form %}{% if actions_on_top or actions_on_bottom %}
    <script type="text/javascript">
      (function ($) {
        $(document).ready(function ($) {
          $("tr input.action-select").actions();
        });
      })(django.jQuery);
    </script>
  {% endif %}{% endif %}
<script type="text/javascript">
(function($) {
  $(document).ready(function() {

    function getChildren($row) {
        var children = [];
        while($row.next().hasClass('child')) {
             children.push($row.next());
             $row = $row.next();
        }            
        return children;
    }        

    $('.parent').on('click', function() {
    
        var children = getChildren($(this));
        $.each(children, function() {
            $(this).toggle();
        })
    });
  })
})(django.jQuery);
</script>
<script type="text/javascript">
(function($) {
  $(document).ready(function() {
  
    var prop1 = document.getElementById('prop_drop');
    var type1 = document.getElementById('type_drop');
    var query1 = document.getElementById('val_box');
    var op1 = document.getElementById('op_drop');
    var prop2 = document.getElementById('prop_drop2');
    var type2 = document.getElementById('type_drop2');
    var query2 = document.getElementById('val_box2');
    var op2 = document.getElementById('op_drop2');
    var prop3 = document.getElementById('prop_drop3');
    var type3 = document.getElementById('type_drop3');
    var query3 = document.getElementById('val_box3');
    var fake_button = document.getElementById('fake_search');
    var true_button = document.getElementById('true_search');
    var clear_button = document.getElementById('clear_search');
    var search_box = document.getElementById('searchbar');
    
    if ("{% get_params_list cl.query 0 %}" != "") {
        prop1.value = "{% get_params_list cl.query 0 %}";
    }
    if ("{% get_params_list cl.query 1 %}" != "") {
        type1.value = "{% get_params_list cl.query 1 %}";
    }
    if ("{% get_params_list cl.query 3 %}" != "") {
        op1.value = "{% get_params_list cl.query 3 %}";
    }
    if ("{% get_params_list cl.query 4 %}" != "") {
        prop2.value = "{% get_params_list cl.query 4 %}";
    }
    if ("{% get_params_list cl.query 5 %}" != "") {
        type2.value = "{% get_params_list cl.query 5 %}";
    }
    if ("{% get_params_list cl.query 7 %}" != "") {
        op2.value = "{% get_params_list cl.query 7 %}";
    }
    if ("{% get_params_list cl.query 8 %}" != "") {
        prop3.value = "{% get_params_list cl.query 8 %}";
    }
    if ("{% get_params_list cl.query 9 %}" != "") {
        type3.value = "{% get_params_list cl.query 9 %}";
    }
    
    fake_button.onclick = function() {
      var p1 = prop1.value;
      var t1 = '___' + type1.value;
      var q1 = '___' + query1.value + '???';
      var o1 = op1.value + '___';
      var p2 = prop2.value;
      var t2 = '___' + type2.value;
      var q2 = '___' + query2.value + '???';
      var o2 = op2.value + '___';
      var p3 = prop3.value;
      var t3 = '___' + type3.value;
      var q3 = '___' + query3.value + '???';
      search_box.value = p1 + t1 + q1 + o1 + p2 + t2 + q2 + o2 + p3 + t3 + q3;
      true_button.click();
    }
    
    clear_button.onclick = function() {
        search_box.value = '';
        prop1.selectedIndex = 0;
        type1.selectedIndex = 0;
        query1.value = '';
        op1.selectedIndex = 0;
        prop2.selectedIndex = 0;
        type2.selectedIndex = 0;
        query2.value = '';
        op2.selectedIndex = 0;
        prop3.selectedIndex = 0;
        type3.selectedIndex = 0;
        query3.value = '';
    }
  })
})(django.jQuery);
</script>
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="divider">&raquo;</span></li>
      <li>
        <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ app_label|capfirst|escape }}</a>
        <span class="divider">&raquo;</span></li>
      <li class="active">{{ cl.opts.verbose_name_plural|capfirst }}</li>
    </ul>
  {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}

  <div id="content-main">

    <div class="inner-center-column">
      <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">

        <div class="hero-unit">
          <h1>Advanced Search</h1>
          <div class="row-fluid">
            <div class="span2 offset1">
              <select id="prop_drop" style="width:100%;">
                {% get_properties_dropdown %}
              </select>
            </div>
            <div class="span2">
              <select id="type_drop" style="width:100%;">
                <option value="icontains">contains</option>
                <option value="not_icontains">does not contain</option>
                <option value="istartswith">starts with</option>
                <option value="iendswith">ends with</option>
                <option value="blank">is blank</option>
                <option value="not_blank">is not blank</option>
                <option value="exact">equals</option>
                <option value="not_exact">is not equal</option>
                <option value="gt">is greater than</option>
                <option value="gte">is greater than or equal to</option>
                <option value="lt">is less than</option>
                <option value="lte">is less than or equal to</option>
              </select>
            </div>
            <div class="span2">
              <input type="text"  style="width:100%;" name="q1" id="val_box" value="{% get_params_list cl.query 2 %}" placeholder="Search Term" onkeyup="if (event.keyCode == 13) document.getElementById('fake_search').click()"></input>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span1">
              <select id="op_drop" style="width:100%;">
                <option value="&AND">AND</option>
                <option value="&OR">OR</option>
              </select>
            </div>
            <div class="span2">
              <select id="prop_drop2" style="width:100%;">
                {% get_properties_dropdown %}
              </select>
            </div>
            <div class="span2">
              <select id="type_drop2" style="width:100%;">
                <option value="icontains">contains</option>
                <option value="not_icontains">does not contain</option>
                <option value="istartswith">starts with</option>
                <option value="iendswith">ends with</option>
                <option value="blank">is blank</option>
                <option value="not_blank">is not blank</option>
                <option value="exact">equals</option>
                <option value="not_exact">is not equal</option>
                <option value="gt">is greater than</option>
                <option value="gte">is greater than or equal to</option>
                <option value="lt">is less than</option>
                <option value="lte">is less than or equal to</option>
              </select>
            </div>
            <div class="span2">
              <input type="text"  style="width:100%;" name="q1" id="val_box2" value="{% get_params_list cl.query 6 %}" placeholder="Search Term" onkeyup="if (event.keyCode == 13) document.getElementById('fake_search').click()"></input>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span1">
              <select id="op_drop2" style="width:100%;">
                <option value="&AND">AND</option>
                <option value="&OR">OR</option>
              </select>
            </div>
            <div class="span2">
              <select id="prop_drop3" style="width:100%;">
                {% get_properties_dropdown %}
              </select>
            </div>
            <div class="span2">
              <select id="type_drop3" style="width:100%;">
                <option value="icontains">contains</option>
                <option value="not_icontains">does not contain</option>
                <option value="istartswith">starts with</option>
                <option value="iendswith">ends with</option>
                <option value="blank">is blank</option>
                <option value="not_blank">is not blank</option>
                <option value="exact">equals</option>
                <option value="not_exact">is not equal</option>
                <option value="gt">is greater than</option>
                <option value="gte">is greater than or equal to</option>
                <option value="lt">is less than</option>
                <option value="lte">is less than or equal to</option>
              </select>
            </div>
            <div class="span2">
              <input type="text"  style="width:100%;" name="q1" id="val_box3" value="{% get_params_list cl.query 10 %}" placeholder="Search Term" onkeyup="if (event.keyCode == 13) document.getElementById('fake_search').click()"></input>
            </div>
          </div>
        </div>
        <div class="toolbar-content clearfix">
          {% block object-tools %}
            {% if has_add_permission %}
              <div class="object-tools">
                {% block object-tools-items %}
                  <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="btn btn-success">
                    <i class="icon-plus-sign icon-white"></i>&nbsp;
                    {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                  </a>
                {% endblock %}
              </div>
            {% endif %}
          {% endblock %}

          {% block search %}{% subject_search_form cl %}{% endblock %}
        </div>
        
        {% block date_hierarchy %}
          {% if cl.date_hierarchy %}
            {% date_hierarchy cl %}
          {% endif %}
        {% endblock %}

        {% if cl.formset.errors %}
          <div class="alert alert-error errornote">
            {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
          </div>
          {{ cl.formset.non_form_errors }}
        {% endif %}

        <form id="changelist-form" action="" method="post"
            {% if cl.formset.is_multipart %}
              enctype="multipart/form-data"{% endif %} class="form-inline">{% csrf_token %}
          {% if cl.formset %}
            <div>{{ cl.formset.management_form }}</div>
          {% endif %}

          {% block result_list %}
            {% if cl.result_count %}
              {% if action_form and actions_on_top and cl.full_result_count %}
                {% admin_actions %}{% endif %}
              {% result_list_with_context cl %}

              {% if action_form and actions_on_bottom and cl.full_result_count %}
                {% admin_actions %}{% endif %}
            {% else %}
              {% suit_bc_value 1.5 'pop' 1.6 '_popup' as POPUP_VAR %}
              <div class="alert alert-block alert-info">
                {% if cl.full_result_count %}
                  <h4>{% trans 'Nothing found' %}!</h4>
                  <br>
                  <a href="?{% if cl.is_popup %}{{ POPUP_VAR }}=1{% endif %}">{% trans 'Reset search and filters' %}</a>
                {% else %}
                  {% blocktrans with cl.opts.verbose_name_plural|capfirst as name_plural %}{{ name_plural }} are not created yet{% endblocktrans %}.
                  {% if has_add_permission %}<a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?{{ POPUP_VAR }}=1{% endif %}">
                    {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a>{% endif %}
                {% endif %}
              </div>
            {% endif %}
          {% endblock %}

          {% block pagination %}
            {% if cl.result_count %}
              {% if action_form and actions_on_bottom and cl.full_result_count %}
                <div class="below-actions">
              {% endif %}
              {% pagination cl %}
              {% if action_form and actions_on_bottom and cl.full_result_count %}
                </div>
              {% endif %}
            {% endif %}
          {% endblock %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}