{% extends '_layouts/base.html' %}
{% load staticfiles %}
{% load base_tags %}

<!-- Metadata -->
{% block page_title %}About{% endblock %}
<!-- End Metadata -->

{% block pageheader %}
    <div class="page-header">
        <div class="container page-header-content">
            <h1>About {% load_globals 'site_title' %}</h1>
        </div>
        <div class="overlay"></div>
    </div>
{% endblock %}

{% block content %}

    <!-- Body Sections-->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <section id="project">
                    <h2>About the Project</h2>
                    {{ project.val|safe }}
                </section>
                <section id="city">
                    <h2>About the City of Ur</h2>
                    {{ site.val|safe }}
                </section>
                <section id="excavation">
                    <h2>About the Excavation of Ur</h2>
                    {{ excavation.val|safe }}
                </section>
                <section id="team">
                    <h2>About the Team Members</h2>
                    {{ team.val|safe }}
                </section>
                <section id="support">
                    <h2>About Our Supporters</h2>
                    {{ support.val|safe }}
                </section>
                <section id="developers">
                    <h2>About the Development</h2>
                    {{ dev.val|safe }}
                </section>
                <section id="licensing">
                    <h2>Licensing</h2>
                    {{ lic.val|safe }}
                </section>                
            </div>
        </div>
    </div>
    <!-- End Body Sections-->
    
{% endblock %}