{% extends "_layouts/base.html" %}
{% load staticfiles base_tags mptt_tags %}
{% load render_table from django_tables2 %}

<!-- Metadata -->
{% block page_title %}{{ collection.title }}{% endblock %}
<!-- End Metadata -->

{% block pageheader %}
    <div class="page-header">
        <div class="container page-header-content">
            <h1>{{ collection.title }}</h1>
            <p>{% if collection.notes and collection.notes != '' %}{{ collection.notes }}{% endif %}</p>
        </div>
        <div class="overlay"></div>
    </div>
{% endblock %}

{% block content %}
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flipbook-container">
                        <div id="flipbook">
                            {% for s in subjects %}
                                {% if s.get_thumbnail != 'http://ur.iaas.upenn.edu/static/img/no_img.jpg' %}
                                    <div><img src="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ s.get_thumbnail }}" alt="{{ s.subject }}" /></div>
                                {% endif %}
                            {% endfor %}
                            {% for s in locations %}
                                {% if s.get_thumbnail != 'http://ur.iaas.upenn.edu/static/img/no_img.jpg' %}
                                    <div><img src="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ s.get_thumbnail }}" alt="{{ s.subject }}" /></div>
                                {% endif %}
                            {% endfor %}
                            {% for s in media %}
                                {% if s.get_thumbnail != 'http://ur.iaas.upenn.edu/static/img/no_img.jpg' %}
                                    <div><img src="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ s.get_thumbnail }}" alt="{{ s.subject }}" /></div>
                                {% endif %}
                            {% endfor %}
                            {% for s in people %}
                                {% if s.get_thumbnail != 'http://ur.iaas.upenn.edu/static/img/no_img.jpg' %}
                                    <div><img src="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ s.get_thumbnail }}" alt="{{ s.subject }}" /></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
{% endblock %}

{% block js %}

{{ block.super }}

  <script type="text/javascript">
    $(document).ready(function(){
	    $("#flipbook").turn({
            height: 500,
            gradients: true,
            acceleration: true,
            page: 2
        });
    });
  </script>

{% endblock %}