{% extends "_layouts/base.html" %}
{% load staticfiles base_tags mptt_tags %}

<!-- Metadata -->
{% block page_title %}Collections{% endblock %}
<!-- End Metadata -->

{% block content %}
    <div class="content-section-b" style="padding-top: 80px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 id="top" style="border-bottom: 1px solid #eee; padding-bottom: 9px; margin: 40px 0 20px;">Collections</h1>
                </div>
            </div>
            <div class="row">
                {% for collection in collections %}
                    {% if forloop.counter0|divisibleby:3 %}
                        </div>
                        <div class="row">
                    {% endif %}
                    <div class="col-md-4">
                        {% if collection.thumbnail %}
                            <img class="img-circle" src="{{ collection.thumbnail.get_thumbnail }}" alt="collection.thumbnail.caption" width="140" height="140">    
                        {% endif %}
                        <h2><a href="{% url 'collectiondetail' collection.pk %}">{{ collection.title }}</a></h2>
                        <p>{{ collection.notes }}</p>
                        <ul>
                            {% for sub in collection.subjectcollection_set.all|slice:":5" %}
                                <li><a href="{% url 'subjectdetail' sub.subject.pk %}">{{ sub.subject.title }}</a></li>
                            {% endfor %}
                            {% for loc in collection.locationcollection_set.all|slice:":5" %}
                                <li><a href="{% url 'locationdetail' loc.location.pk %}">{{ loc.location.title }}</a></li>
                            {% endfor %}
                            {% for med in collection.mediacollection_set.all|slice:":5" %}
                                <li><a href="{% url 'mediadetail' med.media.pk %}">{{ med.media.title }}</a></li>
                            {% endfor %}
                            {% for po in collection.personorgcollection_set.all|slice:":5" %}
                                <li><a href="{% url 'personorgdetail' po.person_org.pk %}">{{ po.person_org.title }}</a></li>
                            {% endfor %}                            
                        </ul>
                        <p>
                            <a class="btn btn-default" href="{% url 'collectiondetail' collection.pk %}" role="button">See All »</a>
                        </p>
                    </div>
                {% endfor %}
            </div>  
        </div>
    </div>
{% endblock %}

{% block js %}

{{ block.super }}

{% endblock %}