{% extends '_layouts/base.html' %}
{% load staticfiles %}

<!-- Metadata -->
{% block page_title %}Contact{% endblock %}
<!-- End Metadata -->

{% block pageheader %}
    <div class="page-header">
        <div class="container page-header-content">
            <h1>Contact Us</h1>
        </div>
        <div class="overlay"></div>
    </div>
{% endblock %}

{% block content %}

    <!-- Body Sections-->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Got Questions? Contact Us!</h2>
                    <p class="lead">
                        <strong>Penn Museum Team</strong></br>
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope" ></span><a href="mailto:sashafr@sas.upenn.edu">&nbsp;&nbsp;Email the Developer</a></br>
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope" ></span><a href="mailto:kyrak@upenn.edu">&nbsp;&nbsp;Email the Research Team</a></br>
                        <strong>British Museum Team</strong></br>
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope" ></span><a href="mailto:SDenham@britishmuseum.org">&nbsp;&nbsp;Email the Research Team</a></br>
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static 'img/contact_telegram.jpg' %}">
                </div>
            </div>
        </div>
    </div>    
    
    <!-- End Body Sections-->
    
{% endblock %}