{% extends '_layouts/base.html' %}
{% load staticfiles %}

<!-- Metadata -->
{% block page_title %}Contact{% endblock %}
<!-- End Metadata -->

{% block pageheader %}
    <div class="page-header">
        <div class="container page-header-content">
            <h1>Contact Us</h1>
        </div>
        <div class="overlay"></div>
    </div>
{% endblock %}

{% block content %}

    <!-- Body Sections-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="{% static 'img/contact_telegram.jpg' %}">
                </div>
                <div class="col-md-6">
                    <h3>Penn Museum Team</h3>
                    <p>
                        <a href="mailto:sashafr@sas.upenn.edu">Email the Developer</a><br/>
                        <a href="mailto:kyrak@upenn.edu">Email the Research Team</a><br/>
                    </p>
                    <h3>British Museum Team</h3>
                    <p><a href="mailto:SDenham@britishmuseum.org">Email the Research Team</a></p>
                </div>
                
            </div>
        </div>
    </section>    
    
    <!-- End Body Sections-->
    
{% endblock %}