{% extends '_layouts/base.html' %}
{% load staticfiles %}
{% load base_tags %}

<!-- Metadata -->
{% block page_title %}Excavations at Ur{% endblock %}
<!-- End Metadata -->

{% block pageheader %}
    <div class="page-header">
        <div class="container page-header-content">
            <h1>Excavations at Ur</h1>
        </div>
        <div class="overlay"></div>
    </div>
{% endblock %}

{% block content %}

    <!-- Body Sections-->
    <section>
        <div class="container" id="template">
            <div class="row">
                <div class="col-md-8">
                    <h2>Before Woolley</h2>
                    <p>Even after it was abandoned, Ur never really disappeared: its characteristic ziggurat, or stepped temple tower, remained visible high above the plain of the desert. As it was "rediscovered" as an ancient site by travelers in the 17th century, the ruins of Ur came to be known as Tell al-Muqayyar (Arabic for "mound of pitch") because of the bitumen, or tar, that had been used often in building and waterproofing parts of the ancient city. The lengthy occupation at Ur generated archaeological deposits up to 20 meters in depth over an area of 96 hectares.</p>
                    <p>The mid-17th-century Italian nobleman Pietro Della Valle was probably the first Western traveler to write of Ur. He noted its massive ziggurat as well as a strange form of wedge-shaped writing on objects he found there. Later, British explorer J. B. Fraser passed the site in 1834 and called the ziggurat "one of the most interesting relics of antiquity I have seen in this country" (1840, Travels in Koordistan, Mesopotamia, etc., 88-94). More than 15 years later, William Kennett Loftus, a member of the Turko-Persian Frontier Commission and a pioneer excavator of southern Mesopotamian ruin mounds, visited Tell al-Muquayyar and published a measured description and early illustration of the ziggurat.</p>
                    <p>By the 1840s, the wedge-shaped writing had been discovered at other Mesopotamian sites and come to be known as "cuneiform." Major (later Sir) Henry Creswicke Rawlinson determined how to decipher cuneiform. He suggested that Tell al-Muqayyar be further explored. 
                    <p>J. G. Taylor, British Vice-Consul at Basra, conducted the first excavations at Tell al-Muqayyar from 1853 to 1854. He focused on the ziggurat and recovered inscribed clay cylinders and bricks stamped with inscriptions that led Rawlinson to identify Tell al-Muqayyar as the fabled city known as "Ur of the Chaldees," the traditional home of the biblical patriarch, Abraham.</p>
                    <p>Though other excavations proceeded in the region, Tell al-Muqayyar remained largely unexcavated for another 60 years after Rawlinson's discovery. The American Wolfe Expedition, led by William Hayes Ward, visited Tell al-Muqayyar in 1885, when John Henry Haynes took the first photographs of the site. And John Punnett Peters traveled to Tell al-Muqayyar in May 1890. </p>
                    <p>After Britain occupied Mesopotamia in World War I, the British Museum commissioned archaeologists to protect and investigate the ancient sites around Nasiriyah. R. Campbell Thompson, an Assyriologist and former assistant in the Museum who happened to be serving in Mesopotamia, excavated at Ur for one week in 1918, digging a series of small trenches. In spring 1919, H. R. Hall, captain in the Intelligence Corps, spent three and a half months continuing Thompson's work at Ur, using 70 Turkish prisoners of war as diggers. Among other excavations, he cleared part of the southeastern face of the ziggurat and exposed a stretch of the northeastern enclosure wall of the Nanna temple complex built by Nebuchadnezzar II. Their work at Ur and the nearby sites of Eridu and al-Ubaid confirmed the ancient sites' importance&mdash;importance that Woolley's excavations would only expand further.
                    <h2>After Woolley</h2>
                    <p>Following Woolley's excavations, Ur lay untouched until Iraq's Directorate-General of Antiquities restored the ziggurat and consolidated other buildings in the early 1960s. The State Board of Antiquities and Heritage reconstructed houses at the southern end of AH in 1999 in anticipation of Pope John Paul II's visit to pray at Abraham's birthplace (in the end, the visit did not take place). Iraqi archaeologists resumed excavations briefly at Ur  around the same time. In 2008, an international inspection team headed by John Curtis visited Tell al-Muqayyar, as well as other archaeological sites in Dhi Qar province in southern Iraq, to assess the damage sustained in the First and Second Gulf Wars.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Body Sections-->
    
{% endblock %}