{% extends "_layouts/base.html" %}
{% load staticfiles %}
{% load base_tags %}

<!-- Metadata -->
{% block page_title %}Home{% endblock %}
<!-- End Metadata -->

{% block pageheader %}
    <div class="page-header homepage">
        <div class="page-header-content">
            <h1>Explore the ancient <strong>City of Ur</strong></h1>
            <a class="btn btn-info btn-lg" href="{% url 'ancientur' %}">Learn about Ur <span>&rarr;</span></a>
            <a class="btn btn-default btn-lg" href="{% url 'browse' %}">Browse the collection <span>&rarr;</span></a>
            <a class="btn btn-primary btn-lg" href="/search">Search all objects <span>&rarr;</span></a>
        </div>
        <div class="overlay"></div>
    </div>
    <!-- <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=13xnhMP_bPk34tEg3-jnNcEWgiJhFUop3VxzBZRQAUB4&font=OpenSans-GentiumBook&lang=en&initial_zoom=2&height=600' width='100%' height='650' frameborder='0'></iframe> -->
{% endblock %}

