{% extends "_layouts/base.html" %}
{% load staticfiles %}
{% load base_tags %}

<!-- Metadata -->
{% block page_title %}Home{% endblock %}
<!-- End Metadata -->

{% block pageheader %}
    <div class="page-header homepage">
        <div class="page-header-content">
            <h1>Explore the ancient <strong>City of Ur</strong></h1>
            <a class="btn btn-default btn-lg" href="{% url 'terminology' %}">Browse the collection <span>&rarr;</span></a>
            <a class="btn btn-primary btn-lg" href="/search">Search all objects <span>&rarr;</span></a>
        </div>
        <div class="overlay"></div>
    </div>
{% endblock %}

