{% extends "_layouts/base.html" %}
{% load staticfiles %}
{% load base_tags %}

<!-- Metadata -->
{% block page_title %}Context Detail{% endblock %}
<!-- End Metadata -->

{% block content %}
    <div class="content-section-b" style="padding-top: 80px;">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <h3>{% for n in properties|slice:":1" %}{{ n.property }}:  {{ n.property_value }}{% endfor %}</h3>
                        <table class="table table-striped">
                            {% for property in properties|slice:"1:" %}
                                <tr>
                                    <td>
                                        <span data-toggle="popover" data-html="true" data-content="{{ property.property.notes }}">{{ property.property }}:</span>
                                    </td>
                                    <td>
                                        {{ property.property_value }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <hr />
                        {% if images %}
                            <h3>Images</h3>
                            <ul class="enlarge">
                                {% for image in images %}
                                    <li style="border: 1px solid #ddd; border-radius: 4px; margin: 10px; padding: 10px;">
                                        <a data-lightbox="image-{{ image }}" href="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ image }}">
                                            <img class="img-responsive" src="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ image }}&size=thm" alt='{% for n in properties|slice:":1" %}{{ n.property }}:  {{ n.property_value }}{% endfor %}'>
                                        </a>
                                        <p style="text-align: center;">
                                        <a href="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ image }}">Download</a></p>
                                    </li>
                                {% endfor %}
                            </ul>                            
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="well">
                            <h3>Related Objects</h3>
                            <ul class="list-group">
                                {% for object_relation in related_objects %}
                                    <a href="{% url 'subjectdetail' object_relation.subject.id %}"><li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-responsive" src="{% get_img_thumb object_relation.subject 'ms' 'thm' %}" alt=""></img>    
                                            </div>
                                            <div class="col-md-9">
                                                <table class="table table-striped">
                                                    {% get_visible_subj_props object_relation.subject as subject_props %}
                                                    {% for subject_prop in subject_props %}
                                                        <tr>
                                                            <td style="width: 25%;">{{ subject_prop.property }}</td>
                                                            <td style="width: 75%;">{{ subject_prop.property_value }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                                <p style="text-align: right;">{% get_museum object_relation.subject %}</p>
                                            </div>
                                        </div>
                                    </li></a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="well" style="margin-top: 50px;">
                                <h4>Browse By Location</h4>
                                <p>Current Location:{% get_loc_ancestors location as location_tree %}
                                {% for loc in location_tree %}
                                    {% if forloop.counter0 > 0 %} >> {% endif %}<a href="{% url 'locationdetail' loc.id %}">{{ loc.title }}</a>
                                {% endfor %}
                                </p>
                                <hr />
                                <h4>Locations within {{ location.title }}</h4>
                                {% get_loc_children location as location_children %}
                                {% if location_children %}
                                    {% for loc_pair in location_children %}
                                        <h5><span data-toggle="popover" data-html="true" data-content="{{ loc_pair.0.notes }}">{{ loc_pair.0.type }}:</span></h5>
                                        <p>{% for loc in loc_pair.1 %}
                                            {% if forloop.counter0 > 0 %} - {% endif %}<a href="{% url 'locationdetail' loc.id %}">{{ loc.title }}</a>
                                        {% endfor %}</p>
                                    {% endfor %}
                                {% else %}
                                    <p>There are no other locations within {{ location.title }}.</p>
                                {% endif %}
                                <hr />                                
                                <h4>Other Locations {% if location.parent %}within {{ location.parent.title }}{% else %}near Ur{% endif %}</h4>
                                <p>{% get_loc_siblings location as location_sibs %}
                                {% if location_sibs %}
                                    {% for loc_pair in location_sibs %}
                                        <h5><span data-toggle="popover" data-html="true" data-content="{{ loc_pair.0.notes }}">{{ loc_pair.0.type }}:</span></h5>
                                        <p>{% for loc in loc_pair.1 %}
                                            {% if forloop.counter0 > 0 %} - {% endif %}<a href="{% url 'locationdetail' loc.id %}">{{ loc.title }}</a>
                                        {% endfor %}</p>
                                    {% endfor %}                                
                                {% else %}
                                    <p>There are no other locations {% if location.parent %}within {{ location.parent.title }}{% else %}near Ur{% endif %}.</p>
                                {% endif %}
                                </p>
                                <p style="text-align: right;"><a href="{% url 'mapdetail' 2 %}" target="_blank">Click here for site map</a></p>
                                <hr />                            
                                <h4>References</h4>
                                {% for media_relation in related_media %}
                                    <p>
                                        <a href="{% url 'mediadetail' media_relation.media.id %}">{% get_bib_ref media_relation.media %}{% if media_relation.notes %}, {{ media_relation.notes }}{% endif %}.</a>
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>                
            </div>  
        </div>
    </div>
{% endblock %}

{% block js %}

{{ block.super }}

  <script type="text/javascript">
    $(document).ready(function(){
        $("[data-toggle=popover]").popover({
            trigger : 'hover'
        });   
    });
  </script>

{% endblock %}