{% extends "_layouts/base.html" %}
{% load staticfiles %}
{% load base_tags %}

<!-- Metadata -->
{% block page_title %}Context Detail{% endblock %}
<!-- End Metadata -->

{% block content %}
    <div class="content-section-b" style="padding-top: 80px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <a href="{% get_img_url location 'ml' %}"><img class="img-responsive" style="display: inline-block; padding: 5px 5px 5px 0px;" src="{% get_img_thumb location 'ml' 'pre' %}" alt=""></a>
                    </div>
                    <div class="row">
                        <h3>Related Files:</h3>
                        {% for image in images %}
                            <a href="http://ur.iaas.upenn.edu/resourcespace/pages/view.php?ref={{ image }}">
                                <img class="img-responsive" style="display: inline-block; padding: 10px 10px 10px 0px;" src="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ image }}&size=thm" alt="">
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <h3>{% for n in properties|slice:":1" %}{{ n.property }}:  {{ n.property_value }}{% endfor %}</h3>
                        <table class="table table-striped">
                            {% for property in properties|slice:"1:" %}
                                <tr>
                                    <td>
                                        <a href="#" data-toggle="popover" data-html="true" data-content="{{ property.property.notes }}">{{ property.property }}:</a>
                                    </td>
                                    <td>
                                        {{ property.property_value }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="row">
                        <div class="well">
                            <h3>Related Media</h3>
                            <ul class="list-group">
                                {% for media_relation in related_media %}
                                    <a href="{% url 'mediadetail' media_relation.media.id %}"><li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-responsive" src="{% get_img_thumb media_relation.media 'mm' 'thm' %}" alt=""></img>    
                                            </div>
                                            <div class="col-md-9">
                                                <table class="table table-striped">
                                                    {% for media_props in media_relation.media.mediaproperty_set.all|slice:":3" %}
                                                        <tr>
                                                            <td>{{ media_props.property }}</td>
                                                            <td>{{ media_props.property_value }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </li></a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="well">
                            <h3>Related Objects</h3>
                            <ul class="list-group">
                                {% for object_relation in related_objects %}
                                    <a href="{% url 'subjectdetail' object_relation.subject.id %}"><li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-responsive" src="{% get_img_thumb object_relation.subject 'ms' 'thm' %}" alt=""></img>    
                                            </div>
                                            <div class="col-md-9">
                                                <table class="table table-striped">
                                                    {% get_visible_subj_props object_relation.subject as subject_props %}
                                                    {% for subject_prop in subject_props %}
                                                        <tr>
                                                            <td>{{ subject_prop.property }}</td>
                                                            <td>{{ subject_prop.property_value }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </li></a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>                    
                </div>
            </div>  
        </div>
    </div>
{% endblock %}

{% block js %}

{{ block.super }}

  <script type="text/javascript">
    $(document).ready(function(){
        $("[data-toggle=popover]").popover({
            trigger : 'hover'
        });   
    });
  </script>

{% endblock %}