{% extends "_layouts/base.html" %}
{% load staticfiles %}

<!-- Metadata -->
{% block page_title %}Map{% endblock %}
<!-- End Metadata -->
{% block body_class %}container{% endblock %}
{% block locations_active %}active{% endblock %} <!-- Selects Locations tab in Header Menu -->

{% block content %}

<div class="jumbotron">
  <h1>Coming Soon!</h1>
  <p>Wonderful things are coming, but we aren't quite there yet! Check back often, or visit the News feed for updates on our progress.</p>
</div>

{% endblock %}
