{% extends "_layouts/base.html" %}
{% load staticfiles %}
{% load base_tags %}

<!-- Metadata -->
{% block page_title %}Map Detail{% endblock %}
<!-- End Metadata -->

{% block pageheader %}
    <div class="page-header detail">
        <div class="container page-header-content">
            <h1>Map of {{ location.title}} <small>{{ current_map.notes }}</small></h1>
        </div>
        <div class="overlay"></div>
    </div>
{% endblock %}

{% block content %}
    <div class="content-section-b">
        <div class="container">      
            <div class="row">
                <div class="col-md-8">
                    <img class="img-responsive" src="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ rsid.property_value }}&size=scr" alt="{{ current_map.notes }}"></img>
                </div>
                <div class="col-md-4">
                    <h3>Browse Locations</h3>
                    <h4><small>Click on a link below to view a location from the map:</small></h4>
                    <ul>
                        {% for locus in loci %}
                            <li>
                                <h4><a href="{% url 'locationdetail' locus.location_id %}" data-toggle="popover" data-html="true" data-content="{% get_loci_details loci_details locus.location_id %}" >{{ locus.location.title }}</a></h4>
                            </li>
                        {% endfor %}                    
                    </ul>
                </div>                    
            </div>
            {% if other_maps %}
                <div class="row">
                    <div class="col-lg-12">
                        <h3 style="border-bottom: 1px solid #eee; padding-bottom: 9px; margin: 40px 0 20px;">Continue Exploring...</h3>
                    </div>
                    <div class="col-lg-12">
                        <ul class="enlarge">
                            {% for other_map in other_maps %}
                                <li style="border: 1px solid #ddd; border-radius: 4px; margin: 10px; padding: 10px;">
                                    <a href="{% url 'mapdetail' location.id %}?mapid={{ other_map.0 }}"><img class="img-responsive" src="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ other_map.2 }}&size=thm" alt='{{ other_map.1 }}'></a>
                                </li>
                            {% endfor %}
                        </ul>  
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}

{{ block.super }}

  <script type="text/javascript">
    $(document).ready(function(){
        $("[data-toggle=popover]").popover({
            trigger : 'hover'
        });   
    });
  </script>

{% endblock %}