{% extends "_layouts/base.html" %}
{% load staticfiles %}
{% load base_tags %}

<!-- Metadata -->
{% block page_title %}Media Detail{% endblock %}
<!-- End Metadata -->

{% block content %}
    <div class="content-section-b" style="padding-top: 80px;">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <h3>{{ media.title }}</h3>
                        <table class="table table-striped">
                            {% for property in properties %}
                                <tr>
                                    <td>
                                        <a href="{% url 'propertydetail' property.property.id %}?type=m" data-toggle="popover" data-html="true" data-content="{{ property.property.notes }}">{{ property.property }}:</a>
                                    </td>
                                    <td>
                                        {{ property.property_value }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        {% if images %}
                            <hr />
                            <h3>Files</h3>
                            <ul class="enlarge">
                                {% for image in images %}
                                <li style="border: 1px solid #ddd; border-radius: 4px; margin: 10px; padding: 10px;">
                                    <a data-lightbox="image-{{ image }}" href="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ image }}">
                                        <img class="img-responsive" src="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ image }}&size=thm" alt="">
                                    </a>
                                    <p style="text-align: center;">
                                    {% if request.GET.isfile != 'true' %}
                                    {% img_id_from_rsref image as img_id %}
                                    <a href="{% url 'mediadetail' img_id %}?isfile=true">View Details</a> | 
                                    {% endif %}
                                    <a href="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ image }}">Download</a></p>
                                </li>
                                {% endfor %}
                            </ul>                            
                        {% endif %}
                    </div>
                    {% if related_objects %}
                    <div class="row">
                        <div class="well">
                            <h3>Related Objects</h3>
                            <ul class="list-group">
                                {% for object_relation in related_objects %}
                                    <a href="{% url 'subjectdetail' object_relation.subject.id %}"><li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-responsive" src="{% get_img_thumb object_relation.subject 'ms' 'thm' %}" alt=""></img>    
                                            </div>
                                            <div class="col-md-9">
                                                <table class="table table-striped">
                                                    {% get_visible_subj_props object_relation.subject as subject_props %}
                                                    {% for subject_prop in subject_props %}
                                                        <tr>
                                                            <td>{{ subject_prop.property }}</td>
                                                            <td>{{ subject_prop.property_value }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </li></a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="well" style="margin-top: 50px;">
                                {% if media.medialocationrelations_set.all %}
                                <h4>Related Contexts</h4>
                                {% for location_relation in media.medialocationrelations_set.all %}
                                    <p>{% get_loc_ancestors location_relation.location as location_tree %}
                                    {% for loc in location_tree %}
                                        {% if forloop.counter0 > 0 %} >> {% endif %}<a href="{% url 'locationdetail' loc.id %}">{{ loc.title }}</a>
                                    {% endfor %}
                                    {% if location_relation.notes %}: {{ location_relation.notes }}{% endif %}</p>
                                {% endfor %}
                                <hr />                                
                                {% endif %}
                                <h4>Linked Resources</h4>
                                {% for web in related_web %}
                                    <p>
                                        <a href="{{ web.link }}">{{ web.source.title }}</a>
                                    </p>
                                {% endfor %}                                
                            </div>
                        </div>
                    </div>
                </div>                
            </div>  
        </div>
    </div>
{% endblock %}

{% block js %}

{{ block.super }}

  <script type="text/javascript">
    $(document).ready(function(){
        $("[data-toggle=popover]").popover({
            trigger : 'hover'
        });   
    });
  </script>

{% endblock %}