{% extends '_layouts/base.html' %}
{% load staticfiles %}

<!-- Metadata -->
{% block page_title %}News{% endblock %}
<!-- End Metadata -->

{% block css %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    <!--
    var PMfeedURI = "http://www.penn.museum/blog/feed/";
    var GitFeedURI = "https://github.com/sashafr/uronline/commits/master.atom";
    
    google.load("feeds", "1");
    function doFeed(feedURI, feedDomID){
        var container = document.getElementById(feedDomID);
        var feedDom =  document.createElement("ul");
        container.appendChild(feedDom);
        var ActFeed = new google.feeds.Feed(feedURI);
        ActFeed.load(function(result) {
            if (!result.error) {
                for (var i = 0; i < result.feed.entries.length; i++) {
                    var entry = result.feed.entries[i];
                    var entryDom = document.createElement("li");
                    var alink = document.createElement("a");
                    alink.appendChild(document.createTextNode(entry.title));
                    alink.setAttribute('href', entry.link);
                    entryDom.appendChild(alink);
                    feedDom.appendChild(entryDom);
                }
            }
            else{
                var entryDom = document.createElement("li");
                entryDom.appendChild(document.createTextNode("News feed currently unavailable"));
                feedDom.appendChild(entryDom);
            }
        });
        
        
        
    }
    
    function initialize() {
        doFeed(PMfeedURI,"PM-feed");
        doFeed(GitFeedURI,"Git-feed");
    }
    google.setOnLoadCallback(initialize);
    -->
</script>
{% endblock %}

{% block content %}

    <!-- Banner -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="text-center">News</h2>
          </div>
        </div>
      </div>
    </div> <!-- End Banner -->
    
    <!-- Body Sections-->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
                
                {% for post in posts.object_list %}
                <!-- Blog Post -->
                <h2>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h2>
                <p class="lead">
                    by {{ post.author.username }}
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.created|date }}</p>
                <p>{{ post.body|truncatewords:50 }}</p>
                <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>
                {% endfor %}

                <!-- Pager -->
                {% if posts.object_list and posts.paginator.num_pages > 1 %}
                <ul class="pager">
                    {% if posts.has_previous %}
                    <li class="previous">
                        <a href="?page={{ posts.previous_page_number }}">&larr; Older</a>
                    </li>
                    {% endif %}
                    <span class="current">
                        &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                    </span>
                    {% if posts.has_next %}
                    <li class="next">
                        <a href="?page={{ posts.next_page_number }}">Newer &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- News Roll Well -->
                <div class="well" style="margin-top:50px;">
                    <div class="newsroom_widget">
                        <h2>Related News</h2>
                        <div class="newsfeed_box">
                            <h3>
                                <a href="http://www.penn.museum/blog/tag/ur/" class="rsswidget" title="Latest news from the Penn Museum">Penn Museum Blog</a>
                            </h3>
                            <div id="PM-feed"></div>
                            <p>
                                <a href="http://www.penn.museum/blog/feed/" class="rss icon" title="Latest news from the Penn Museum">Get the News Feed</a>
                            </p>
                        </div>
                        <div class="newsfeed_box">
                            <h3>
                                <a href="https://github.com/sashafr/uronline/commits/master" class="rsswidget" title="Updates to UrOnline Code">Updates to UrOnline code</a>
                            </h3>
                            <div id="Git-feed"></div>
                            <p>
                                <a href="https://github.com/sashafr/uronline/commits/master.atom" class="rss icon" title="Updates to UrOnline Code">Get Code Updates</a>
                            </p>
                        </div>
                    </div> 
                </div>
            </div>

        </div>
        <!-- /.row -->

        <hr>

    </div>    
    
    <!-- End Body Sections-->
    
{% endblock %}