{% extends '_layouts/base.html' %}
{% load staticfiles %}

<!-- Metadata -->
{% block page_title %}Kyra Special | Penn Metal with Subdivided Mus Nums{% endblock %}
<!-- End Metadata -->

{% block content %}

    <!-- Banner -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="text-center">Penn Metal with Subdivided Mus Nums</h2>
          </div>
        </div>
      </div>
    </div> <!-- End Banner -->
    
    <!-- Body Sections-->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <h4>{{ special_objects.count}} objects</h4>
                <hr>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            {% for title in titles %}
                                <th>{{ title.field_type.property }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for sub in special_objects %}
                            <tr>
                                <td><a href="{% url 'admin:index' %}base/subject/{{ sub.id }}" target="_blank">{{ sub.title1 }}</a></td>
                                <td>{{ sub.title2 }}</td>
                                <td>{{ sub.title3 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
    
    <!-- End Body Sections-->
    
{% endblock %}