{% extends '_layouts/base.html' %}
{% load staticfiles %}

<!-- Metadata -->
{% block page_title %}{{ post.title }}{% endblock %}
<!-- End Metadata -->

{% block css %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    var BMfeedURI = "http://blog.britishmuseum.org/feed/";
    var PMfeedURI = "http://www.penn.museum/blog/feed/";
    var GitFeedURI = "https://github.com/sashafr/uronline/commits/master.atom";
    
    google.load("feeds", "1");
    function doFeed(feedURI, feedDomID){
        var container = document.getElementById(feedDomID);
        var feedDom =  document.createElement("ul");
        container.appendChild(feedDom);
        var ActFeed = new google.feeds.Feed(feedURI);
        ActFeed.load(function(result) {
            if (!result.error) {
                for (var i = 0; i < result.feed.entries.length; i++) {
                    var entry = result.feed.entries[i];
                    var entryDom = document.createElement("li");
                    var alink = document.createElement("a");
                    alink.appendChild(document.createTextNode(entry.title));
                    alink.setAttribute('href', entry.link);
                    entryDom.appendChild(alink);
                    feedDom.appendChild(entryDom);
                }
            }
            else{
                var entryDom = document.createElement("li");
                entryDom.appendChild(document.createTextNode("News feed currently unavailable"));
                feedDom.appendChild(entryDom);
            }
        });
    }
    
    function initialize() {
        doFeed(BMfeedURI,"BM-feed");
        doFeed(PMfeedURI,"PM-feed");
        doFeed(GitFeedURI,"Git-feed");
    }
    google.setOnLoadCallback(initialize);
    -->
</script>
{% endblock %}

{% block pageheader %}
    <div class="page-header">
        <div class="container page-header-content">
            <h1>{{ post.title }}</h1>
            <p>Posted by {{ post.author.username }} on {{ post.created|date }}</p>
        </div>
        <div class="overlay"></div>
    </div>
{% endblock %}

{% block content %}
    
    <section>
        <!-- Body Sections-->
        <div class="container">
            <div class="row">
                <!-- Blog Entries Column -->
                <div class="col-md-8">
                    <!-- Post Content -->
                    <p>{{ post.body }}</p>
    
                </div>
    
                <!-- Blog Sidebar Widgets Column -->
                <div class="col-md-4">
    
                    <!-- News Roll Well -->
                    <div class="well news">
                        <h3><a href="http://www.britishmuseum.org/blog.aspx" class="rsswidget" title="Latest news from the British Museum">British Museum Blog</a></h3>
                        <div id="BM-feed"></div>
                        <a href="http://blog.britishmuseum.org/feed/" class="rss icon" title="Latest news from the British Museum">Get the British Museum News Feed</a>
                    </div>                        
                    <div class="well news">
                        <h3><a href="http://www.penn.museum/blog/tag/ur/" class="rsswidget" title="Latest news from the Penn Museum">Penn Museum Blog</a></h3>
                        <div id="PM-feed"></div>
                        <a href="http://www.penn.museum/blog/feed/" class="rss icon" title="Latest news from the Penn Museum">Get the Penn Museum News Feed</a>
                    </div>
                    <div class="well news">
                        <h3><a href="https://github.com/sashafr/uronline/commits/master" class="rsswidget" title="Updates to UrOnline Code">Updates to UrOnline code</a></h3>
                        <div id="Git-feed"></div>
                        <a href="https://github.com/sashafr/uronline/commits/master.atom" class="rss icon" title="Updates to UrOnline Code">Get Code Updates</a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>   
    </section>
    
    <!-- End Body Sections-->
    
{% endblock %}