{% extends "_layouts/base.html" %}
{% load staticfiles %}
{% load base_tags %}
{% load mptt_tags %}

<!-- Metadata -->
{% block page_title %}{{ property.property }} - Property Detail{% endblock %}
<!-- End Metadata -->

{% block pageheader %}
    <div class="page-header detail">
        <div class="container page-header-content">
            <h1>{{ property.property }}</h1>
        </div>
        <div class="overlay"></div>
    </div>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <p>{{ property.notes }}</p>
                    {% if all_objs %}
                        {% if property.facet %}
                            <table class="table table-striped">
                                <tbody>
                                {% recursetree all_objs %}
                                    <tr>
                                        <td width="800">
                                            <a href="{% url 'haystack_search' %}?selected_facets=facet_prop_{{ property.id }}:{{ node.id }}" data-toggle="popover" data-html="true" data-content="{{ node.definition }}"><span class="badge">{{ node.count_subj_instances }}</span>&nbsp;&nbsp;{{ node.title }}</a>
                                        {% if not node.is_leaf_node %}
                                            <a data-toggle="collapse" class="collapse-button" href="#{{ node.id }}-collapse">  + Expand</a>
                                            <table class="table table-striped table-bordered collapse collapse-unit" style="margin: 10px 0;" id="{{ node.id }}-collapse">
                                                <tbody>
                                                    {{ children }}
                                                </tbody>
                                            </table>
                                        {% endif %}
                                        </td>
                                    </tr>
                                {% endrecursetree %}
                                </tbody>
                            </table>
                        {% else %}                    
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th><h4>Property</h4></th>
                                        <th><h4>Count</h4></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sp in all_objs %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'haystack_search' %}?property={{ property.id }}&search_type=exact&q={{ sp.property_value }}&op=and&property2=&search_type2=contains&q2=&op2=and&property3=&search_type3=contains&q3=&order=">{{ sp.property_value }}:</a>
                                            </td>
                                            <td>
                                                {{ sp.count }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% else %}
                        <p>There are currently no values for this property.</p>
                    {% endif %}
                </div>
                
                <div class="col-sm-4">
                    {% if linked_data %}
                        <div class="well filters padding">
                            <h3>Linked Data</h3>
                            <ul class="list-unstyled">
                            {% for link in linked_data %}
                                <li>
                                    <a href="{{ link.link }}">{{ link.source.title }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if property.facet %}
                        <a class="btn btn-default btn-gray btn-block" type="button" href="{% url 'export_control_property_details' property.id %}">Export this Property</a>                            
                    {% else %}
                        <div class="dropdown">
                            <button class="btn btn-gray btn-block btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                Order By:
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'propertydetail' property.id %}?o=property_value&type={{ type }}">Property(Asc)</a></li>
                                <li><a href="{% url 'propertydetail' property.id %}?o=-property_value&type={{ type }}">Property(Desc)</a></li>
                                <li><a href="{% url 'propertydetail' property.id %}?o=count&type={{ type }}">Count(Asc)</a></li>
                                <li><a href="{% url 'propertydetail' property.id %}?o=-count&type={{ type }}">Count(Desc)</a></li>
                            </ul>
                        </div>
                        <a class="btn btn-default btn-gray btn-block" href="{% url 'export_property_details' property.id %}?o={{ order }}&type={{ type }}">Export this Property</a>
                    {% endif %}
                </div>
            </div>  
        </div>
    </section>
{% endblock %}

{% block js %}

{{ block.super }}

  <script type="text/javascript">
    $(document).ready(function(){
    
        var active = true;

        $('#collapse-all').click(function (event) {
            event.preventDefault();
            if (active) {
                active = false;
                $('.collapse-unit').collapse('show');
                $('.collapse-button').html('  - Collapse');
                $(this).text('Collapse All');
            } else {
                active = true;
                $('.collapse-unit').collapse('hide');
                $('.collapse-button').html('  + Expand');
                $(this).text('Expand All');
            }
        });

        $('.collapse-button').click(function () {
            if($(this).next().hasClass('in')) {
                $(this).html('  + Expand');
            } else {
                $(this).html('  - Collapse');
            }
        });
        
        $("[data-toggle=popover]").popover({
            trigger : 'hover'
        }); 
    });
  </script>

{% endblock %}