{% extends '_layouts/base.html' %}
{% load staticfiles %}
{% load base_tags %}

<!-- Metadata -->
{% block page_title %}Sample{% endblock %}
<!-- End Metadata -->

{% block pageheader %}
    <div class="page-header">
        <div class="container page-header-content">
            <h1>Sample</h1>
        </div>
        <div class="overlay"></div>
    </div>
{% endblock %}

{% block content %}

    <!-- Body Sections-->
    <div class="container" id="template">
        <div class="row">
            <div class="col-md-8">
                <h2>Lorem ipsum dolor</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sapien purus, accumsan eu iaculis ac, feugiat id dui. Cras mollis est vitae finibus posuere. Pellentesque nec orci placerat nunc interdum tempor in nec tortor. Sed gravida, nunc ac tincidunt malesuada, velit risus ullamcorper libero, consequat tincidunt libero mi eget erat. Sed mollis bibendum diam, sed rhoncus magna placerat a. Quisque ex dolor, faucibus et tincidunt id, bibendum ut enim. Quisque dapibus blandit mauris eu convallis. Nam ut tristique lectus. Suspendisse pretium ipsum augue, sed consectetur nunc viverra eget. Nulla eu risus viverra mauris semper luctus quis vitae tortor. Etiam sed luctus dolor, eu scelerisque mi.</p>
                <img src="https://placehold.it/400x250" class="pull-right" />
                <p>Nam viverra sem sed nisl bibendum, vitae varius sapien vestibulum. Pellentesque vestibulum, nisi eu placerat lacinia, felis tortor laoreet nisi, quis ultrices est metus nec tortor. Donec fringilla sit amet urna eget venenatis. In a aliquam enim, in sollicitudin est. Suspendisse viverra lacus in magna auctor, nec porta tellus pharetra. Morbi aliquet finibus finibus. Phasellus risus ante, scelerisque eget massa in, tincidunt lacinia magna. Curabitur quis rutrum nibh. Mauris efficitur imperdiet urna sit amet efficitur.</p>
                <p>Donec in tincidunt ante. Maecenas at aliquet urna. Morbi vestibulum laoreet augue porttitor tristique. Mauris maximus malesuada justo sit amet interdum. Vivamus gravida luctus tortor, a suscipit magna ornare in. Aliquam in urna quis urna efficitur sodales vel vitae nisi. In ut maximus quam. Nunc id tempus purus. Mauris bibendum semper justo, a facilisis tellus convallis at. Donec vitae mauris orci. Mauris semper libero id ligula molestie rhoncus. Morbi volutpat, justo vel posuere sollicitudin, felis ex pulvinar sem, ut luctus mi ipsum at ligula. Sed rhoncus felis sed justo porta, mollis blandit est malesuada.</p>
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sapien purus, accumsan eu iaculis ac, feugiat id dui. Cras mollis est vitae finibus posuere. Pellentesque nec orci placerat nunc interdum tempor in nec tortor. Sed gravida, nunc ac tincidunt malesuada, velit risus ullamcorper libero, consequat tincidunt libero mi eget erat. Sed mollis bibendum diam, sed rhoncus magna placerat a. Quisque ex dolor, faucibus et tincidunt id, bibendum ut enim. Quisque dapibus blandit mauris eu convallis. Nam ut tristique lectus. Suspendisse pretium ipsum augue, sed consectetur nunc viverra eget. Nulla eu risus viverra mauris semper luctus quis vitae tortor. Etiam sed luctus dolor, eu scelerisque mi.</p>
                <p>Donec in tincidunt ante. Maecenas at aliquet urna. Morbi vestibulum laoreet augue porttitor tristique. Mauris maximus malesuada justo sit amet interdum. Vivamus gravida luctus tortor, a suscipit magna ornare in. Aliquam in urna quis urna efficitur sodales vel vitae nisi. In ut maximus quam. Nunc id tempus purus. Mauris bibendum semper justo, a facilisis tellus convallis at. Donec vitae mauris orci. Mauris semper libero id ligula molestie rhoncus. Morbi volutpat, justo vel posuere sollicitudin, felis ex pulvinar sem, ut luctus mi ipsum at ligula. Sed rhoncus felis sed justo porta, mollis blandit est malesuada.</p>
                <figure class="pull-left">
                    <img src="https://placehold.it/400x250" />
                    <figcaption>Maecenas at aliquet vitae varius sapien vestibulum urna.</figcaption>
                </figure>
                <p>Nam viverra sem sed nisl bibendum, vitae varius sapien vestibulum. Pellentesque vestibulum, nisi eu placerat lacinia, felis tortor laoreet nisi, quis ultrices est metus nec tortor. Donec fringilla sit amet urna eget venenatis. In a aliquam enim, in sollicitudin est. Suspendisse viverra lacus in magna auctor, nec porta tellus pharetra. Morbi aliquet finibus finibus. Phasellus risus ante, scelerisque eget massa in, tincidunt lacinia magna. Curabitur quis rutrum nibh. Mauris efficitur imperdiet urna sit amet efficitur.</p>
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Nam viverra sem sed nisl bibendum, vitae varius sapien vestibulum. Pellentesque vestibulum, nisi eu placerat lacinia, felis tortor laoreet nisi, quis ultrices est metus nec tortor. Donec fringilla sit amet urna eget venenatis. In a aliquam enim, in sollicitudin est. Suspendisse viverra lacus in magna auctor, nec porta tellus pharetra. Morbi aliquet finibus finibus. Phasellus risus ante, scelerisque eget massa in, tincidunt lacinia magna. Curabitur quis rutrum nibh. Mauris efficitur imperdiet urna sit amet efficitur.</p>
                <img src="https://placehold.it/800x400" class="full-width" />
                <p>Donec in tincidunt ante. Maecenas at aliquet urna. Morbi vestibulum laoreet augue porttitor tristique. Mauris maximus malesuada justo sit amet interdum. Vivamus gravida luctus tortor, a suscipit magna ornare in. Aliquam in urna quis urna efficitur sodales vel vitae nisi. In ut maximus quam. Nunc id tempus purus. Mauris bibendum semper justo, a facilisis tellus convallis at. Donec vitae mauris orci. Mauris semper libero id ligula molestie rhoncus. Morbi volutpat, justo vel posuere sollicitudin, felis ex pulvinar sem, ut luctus mi ipsum at ligula. Sed rhoncus felis sed justo porta, mollis blandit est malesuada.</p>
            </div>
        </div>
    </div>
    <!-- End Body Sections-->
    
{% endblock %}