{% extends "_layouts/base.html" %}
{% load staticfiles %}
{% load base_tags %}

<!-- Metadata -->
{% block page_title %}Object Detail{% endblock %}
<!-- End Metadata -->

{% block content %}
<div class="content-section-a"></div>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <img class="img-responsive" src="{% get_img_thumb subject 'ms' %}" alt="">
      </div>
      <div class="col-lg-5 col-lg-offset-1 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading"></h2>
        <p class="lead">Future home of our Features, including "Conservation Snapshot" and "Search by Location"!</p>
      </div>
    </div>  
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h3>{{ subject.id }}</h3>
      <table class="table table-striped">
        {% for property in subject.subjectproperty_set.all %}
          <tr>
            <td>
              {{ property.property }}
            </td>
            <td>
              {{ property.property_value }}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
</div>

{% endblock %}