{% extends "_layouts/base.html" %}
{% load staticfiles %}
{% load base_tags %}

<!-- Metadata -->
{% block page_title %}Object Detail{% endblock %}
<!-- End Metadata -->

{% block content %}
    <div class="content-section-b" style="padding-top: 80px;">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <h3>{% for n in gen_properties|slice:":1" %}{{ n.property }}:  {{ n.property_value }}{% endfor %}</h3>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#general" data-toggle="tab">General</a></li>
                            <li><a href="#archival" data-toggle="tab">Archival</a></li>
                            <li><a href="#conservation" data-toggle="tab">Conservation/Analysis</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="general" class="tab-pane active" style="margin-top: 20px;">
                                {% if property_count > 1 %}
                                    <table class="table table-striped">
                                        {% for cp in control_properties %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'propertydetail' cp.control_property.id %}?type=s" data-toggle="popover" data-html="true" data-content="{{ cp.control_property.notes }}">{{ cp.control_property }}:</a>
                                                </td>
                                                <td>
                                                    {% if cp.control_property_value.get_ancestors %}
                                                        {% for anc in cp.control_property_value.get_ancestors %}
                                                            <a href="{% url 'haystack_search' %}?selected_facets=facet_prop_{{ anc.type_id }}:{{ anc.id }}">{{ anc.title }}</a> >>
                                                        {% endfor %}
                                                    {% endif %}
                                                    <a href="{% url 'haystack_search' %}?selected_facets=facet_prop_{{ cp.control_property_id }}:{{ cp.control_property_value.id }}" data-toggle="popover" data-html="true" data-content="{{ cp.control_property_value.notes }}">{{ cp.control_property_value.title }}</a>
                                                    {% get_linked_data_url cp.control_property_value as linked_data %}
                                                    {% if linked_data %}
                                                        {% for link_url in linked_data %}
                                                            <a href="{{ link_url.link }}"><span class="glyphicon glyphicon-link"></span></a>
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}                    
                                        {% for property in gen_properties|slice:"1:" %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'propertydetail' property.property.id %}?type=s" data-toggle="popover" data-html="true" data-content="{{ property.property.notes }}">{{ property.property }}:</a>
                                                </td>
                                                <td>
                                                    {{ property.property_value }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    <br /><br />
                                    <div class="alert alert-warning" role="alert">
                                        <p>This object is currently undergoing analysis. More information to come...</p>
                                    </div>
                                {% endif %}
                                <hr />
                                {% if gen_images %}
                                <h3 id="addimgs">Additional Images</h3>
                                <ul class="enlarge">
                                    {% for image in gen_images %}
                                        <li style="border: 1px solid #ddd; border-radius: 4px; margin: 10px; padding: 10px;">
                                            <a data-lightbox="image-{{ image }}" href="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ image }}"><img class="img-responsive" src="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ image }}&size=thm" alt='{% for n in properties|slice:":1" %}{{ n.property }}:  {{ n.property_value }}{% endfor %}'></a>
                                            <p style="text-align: center;">
                                            <a href="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ image }}">Download</a></p>
                                        </li>
                                    {% endfor %}
                                </ul>              
                                {% endif %}
                            </div>
                            <div id="archival" class="tab-pane" style="margin-top: 20px;">
                                {% if arc_properties %}
                                    <table class="table table-striped">
                                        {% for cp in arc_control_properties %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'propertydetail' cp.control_property.id %}?type=s" data-toggle="popover" data-html="true" data-content="{{ cp.control_property.notes }}">{{ cp.control_property }}:</a>
                                                </td>
                                                <td>
                                                    {% if cp.control_property_value.get_ancestors %}
                                                        {% for anc in cp.control_property_value.get_ancestors %}
                                                            <a href="{% url 'haystack_search' %}?selected_facets=facet_prop_{{ anc.type_id }}:{{ anc.id }}">{{ anc.title }}</a> >>
                                                        {% endfor %}
                                                    {% endif %}
                                                    <a href="{% url 'haystack_search' %}?selected_facets=facet_prop_{{ cp.control_property_id }}:{{ cp.control_property_value.id }}" data-toggle="popover" data-html="true" data-content="{{ cp.control_property_value.notes }}">{{ cp.control_property_value.title }}</a>
                                                    {% get_linked_data_url cp.control_property_value as linked_data %}
                                                    {% if linked_data %}
                                                        {% for link_url in linked_data %}
                                                            <a href="{{ link_url.link }}"><span class="glyphicon glyphicon-link"></span></a>                       
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}                                    
                                        {% for property in arc_properties %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'propertydetail' property.property.id %}?type=s" data-toggle="popover" data-html="true" data-content="{{ property.property.notes }}">{{ property.property }}:</a>
                                                </td>
                                                <td>
                                                    {{ property.property_value }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    <br /><br />
                                    <div class="alert alert-warning" role="alert">
                                        <p>This object is currently undergoing analysis. More information to come...</p>
                                    </div>
                                {% endif %}
                                {% if arc_images %}
                                <hr />
                                <h3 id="addimgs">Archival Images</h3>
                                <ul class="enlarge">
                                    {% for image in arc_images %}
                                        <li style="border: 1px solid #ddd; border-radius: 4px; margin: 10px; padding: 10px;">
                                            <a data-lightbox="image-{{ image }}" href="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ image }}"><img class="img-responsive" src="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ image }}&size=thm" alt='{% for n in properties|slice:":1" %}{{ n.property }}:  {{ n.property_value }}{% endfor %}'></a>
                                            <p style="text-align: center;">
                                            <a href="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ image }}">Download</a></p>
                                        </li>
                                    {% endfor %}
                                </ul>  
                                {% endif %}
                            </div>  
                            <div id="conservation" class="tab-pane" style="margin-top: 20px;">
                                {% if con_properties or con_control_properties %}
                                    <table class="table table-striped">
                                        {% for cp in con_control_properties %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'propertydetail' cp.control_property.id %}?type=s" data-toggle="popover" data-html="true" data-content="{{ cp.control_property.notes }}">{{ cp.control_property }}:</a>
                                                </td>
                                                <td>
                                                    {% if cp.control_property_value.get_ancestors %}
                                                        {% for anc in cp.control_property_value.get_ancestors %}
                                                            <a href="{% url 'haystack_search' %}?selected_facets=facet_prop_{{ anc.type_id }}:{{ anc.id }}">{{ anc.title }}</a> >>
                                                        {% endfor %}
                                                    {% endif %}
                                                    <a href="{% url 'haystack_search' %}?selected_facets=facet_prop_{{ cp.control_property_id }}:{{ cp.control_property_value.id }}" data-toggle="popover" data-html="true" data-content="{{ cp.control_property_value.notes }}">{{ cp.control_property_value.title }}</a>
                                                    {% get_linked_data_url cp.control_property_value as linked_data %}
                                                    {% if linked_data %}
                                                        {% for link_url in linked_data %}
                                                            <a href="{{ link_url.link }}"><span class="glyphicon glyphicon-link"></span></a>                       
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}                                      
                                        {% for property in con_properties %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'propertydetail' property.property.id %}?type=s" data-toggle="popover" data-html="true" data-content="{{ property.property.notes }}">{{ property.property }}:</a>
                                                </td>
                                                <td>
                                                    {{ property.property_value }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    <br /><br />
                                    <div class="alert alert-warning" role="alert">
                                        <p>This object is currently undergoing analysis. More information to come...</p>
                                    </div>
                                {% endif %}
                                {% if con_images %}
                                <hr />
                                <h3 id="addimgs">Conservation/Analytic Images</h3>
                                <ul class="enlarge">
                                    {% for image in con_images %}
                                        <li style="border: 1px solid #ddd; border-radius: 4px; margin: 10px; padding: 10px;">
                                            <a data-lightbox="image-{{ image }}" href="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ image }}"><img class="img-responsive" src="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ image }}&size=thm" alt='{% for n in properties|slice:":1" %}{{ n.property }}:  {{ n.property_value }}{% endfor %}'></a>
                                            <p style="text-align: center;">
                                            <a href="http://ur.iaas.upenn.edu/resourcespace/plugins/ref_urls/file.php?ref={{ image }}">Download</a></p>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>                              
                        </div> 
                    </div>                    
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="well" style="margin-top: 50px;">
                                <div class="img-table">
                                    <ul class="enlarge">
                                        <li>
                                            <a href="{% get_img_thumb subject 'ms' '' %}"><img class="img-responsive" src="{% get_img_thumb subject 'ms' 'thm' %}" alt='{% for n in properties|slice:":1" %}{{ n.property }}:  {{ n.property_value }}{% endfor %}'></a>
                                            <span>
                                                <img src="{% get_img_thumb subject 'ms' 'scr' %}" alt='{% for n in properties|slice:":1" %}{{ n.property }}:  {{ n.property_value }}{% endfor %}'/>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <hr />
                                <h4>Context</h4>
                                {% for location_relation in subject.locationsubjectrelations_set.all %}
                                    <p>{% get_loc_ancestors location_relation.location as location_tree %}
                                    {% has_spec_context location_tree as spec_context %}
                                    {% if spec_context %}{{ spec_context }}{% endif %}
                                    {% for loc in location_tree %}
                                        {% if forloop.counter0 > 0 %} >> {% endif %}<a href="{% url 'locationdetail' loc.id %}">{{ loc.title }}</a>
                                    {% endfor %}
                                    {% if location_relation.notes %}: {{ location_relation.notes }}{% endif %}</p>
                                {% endfor %}
                                <hr />
                                <h4>References</h4>
                                {% for media_relation in related_media %}
                                    <p>
                                        <a href="{% url 'mediadetail' media_relation.media.id %}">{% get_bib_ref media_relation.media %}{% if media_relation.notes %}, {{ media_relation.notes }}{% endif %}.</a>
                                    </p>
                                {% endfor %}
                                <hr />
                                <h4>Linked Resources</h4>
                                {% for web in related_web %}
                                    <p>
                                        <a href="{{ web.link }}">{{ web.source.title }}</a>
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

{{ block.super }}

  <script type="text/javascript">
    $(document).ready(function(){
        $("[data-toggle=popover]").popover({
            trigger : 'hover'
        });   
    });
  </script>

{% endblock %}