{% extends "_layouts/base.html" %}
{% load staticfiles base_tags mptt_tags %}
{% load render_table from django_tables2 %}

<!-- Metadata -->
{% block page_title %}{{ term.title }} - Term Detail{% endblock %}
<!-- End Metadata -->

{% block pageheader %}
    <div class="page-header detail">
        <div class="container page-header-content">
            <h1>{{ term.title }}</h1>
            <p>{% if term.definition and term.definition != '' %}{{ term.definition }}{% endif %}</p>
        </div>
        <div class="overlay"></div>
    </div>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-lg-12">
                            {% if term.notes and term.notes != '' %}
                                {{ term.notes|safe }}
                            {% else %}
                                <div class="alert alert-warning" role="alert">
                                    <p>No details available on this term at this time.</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    
                    {% if files %}
                        <div class="row" id="files">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <h3>Files</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-log-12">
                                        <ul class="nav nav-tabs">
                                            <li><a href="#general-files" data-toggle="tab">General</a></li>     
                                            {% for key, file_group in files.items %}
                                                {% if key != 'General' %} 
                                                    <li><a href="#{{ key|slug }}-files" data-toggle="tab">{{ key }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                        <div class="tab-content">
                                            {% for key, file_group in files.items %}
                                                {% if key == 'General' %}
                                                    <div id="general-files" class="tab-pane active">
                                                {% else %}
                                                    <div id="{{ key|slug }}-files" class="tab-pane">
                                                {% endif %} 
                                                <ul class="list-unstyled">
                                                    <div class="row enlarge">
                                                        {% for file in file_group %}
                                                            <div class="enlarge col-sm-4 col-md-3">
                                                                <a data-lightbox="term-file" href="{{ file.rsid.get_image }}" data-title="{{ file.rsid.caption }}">
                                                                    <img class="img-responsive" src="{{ file.rsid.get_thumbnail }}">
                                                                </a>
                                                                <p><a href="{% url 'filedetail' file.rsid.id %}">{{ file.rsid.title }}</a> - <a href="{{ file.rsid.get_download }}">Download</a></p>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </ul>
                                            </div>
                                        {% endfor %}   
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endif %}                    
                    
                    {% if subjects %}
                    <div class="row" id="subjects">
                        <div class="col-lg-12">
                            <h3>
                                Objects: {{ term.title }}
                                <small>Export: </small>
                                <a class="subj-ex" href="{% url 'termdetailexport' term.id %}?col={{ sub_col }}&entity=subject&format=json"><small>JSON</small></a>
                                <small> - </small>
                                <a class="subj-ex" href="{% url 'termdetailexport' term.id %}?col={{ sub_col }}&entity=subject&format=xml"><small>XML</small></a>
                                <small> - </small>
                                <a class="subj-ex" href="{% url 'termdetailexport' term.id %}?col={{ sub_col }}&entity=subject&format=csv"><small>CSV</small></a>
                                <small>{{ sub_col_title }}</small>
                            </h3>
                        
                            {% if subject_collections %}
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    Collection:
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'termdetail' term.id %}?subcol=0">All Objects</a></li>
                                    {% for collection in subject_collections %}
                                        <li><a href="{% url 'termdetail' term.id %}?subcol={{ collection.id }}">{{ collection.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <div id="subj-ex-warning" class="alert alert-warning" role="alert" style="display: none;">
                                <p>Exporting large queries may take several minutes, please do not leave this page until the download completes.</p>
                            </div>
                            {% render_table subject_table %}
                        </div>
                    </div>
                    {% endif %}
                    
                    {% if locations %}
                    <div class="row" id="locations">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>
                                        Locations: {{ term.title }}
                                        <small>Export: </small>
                                        <a class="loc-ex" href="{% url 'termdetailexport' term.id %}?col={{ loc_col }}&entity=location&format=json"><small>JSON</small></a>
                                        <small> - </small>
                                        <a class="loc-ex" href="{% url 'termdetailexport' term.id %}?col={{ loc_col }}&entity=location&format=xml"><small>XML</small></a>
                                        <small> - </small>
                                        <a class="loc-ex" href="{% url 'termdetailexport' term.id %}?col={{ loc_col }}&entity=location&format=csv"><small>CSV</small></a>
                                        <small>{{ loc_col_title }}</small>
                                    </h3>
                                </div>
                                <div class="col-sm-12">
                                    {% if location_collections %}
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                            Collection:
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{% url 'termdetail' term.id %}?loccol=0">All Locations</a></li>
                                            {% for collection in location_collections %}
                                                <li><a href="{% url 'termdetail' term.id %}?loccol={{ collection.id }}">{{ collection.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div id="loc-ex-warning" class="alert alert-warning" role="alert" style="display: none;">
                                <p>Exporting large queries may take several minutes, please do not leave this page until the download completes.</p>
                            </div>
                            {% render_table location_table %}
                        </div>
                    </div>
                    {% endif %}
                    
                    {% if media %}
                    <div class="row" id="media">
                        <div class="col-lg-12">
                            <h3>
                                Media: {{ term.title }}
                                <small>Export: </small>
                                <a class="med-ex" href="{% url 'termdetailexport' term.id %}?col={{ med_col }}&entity=media&format=json"><small>JSON</small></a>
                                <small> - </small>
                                <a class="med-ex" href="{% url 'termdetailexport' term.id %}?col={{ med_col }}&entity=media&format=xml"><small>XML</small></a>
                                <small> - </small>
                                <a class="med-ex" href="{% url 'termdetailexport' term.id %}?col={{ med_col }}&entity=med&format=csv"><small>CSV</small></a>
                                <small>{{ med_col_title }}</small>
                            </h3>
                        
                            {% if media_collections %}
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    Collection:
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'termdetail' term.id %}?medcol=0">All Media</a></li>
                                    {% for collection in media_collections %}
                                        <li><a href="{% url 'termdetail' term.id %}?medcol={{ collection.id }}">{{ collection.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <div id="med-ex-warning" class="alert alert-warning" role="alert" style="display: none;">
                                <p>Exporting large queries may take several minutes, please do not leave this page until the download completes.</p>
                            </div>
                            {% render_table media_table %}
                        </div>
                    </div>
                    {% endif %}                    
                    
                    {% if people %}
                    <div class="row" id="people">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h3 style="border-bottom: 1px solid #eee; padding-bottom: 9px; margin: 40px 0 20px;">
                                        People: {{ term.title }}
                                        <small>Export: </small>
                                        <a class="people-ex" href="{% url 'termdetailexport' term.id %}?col={{ po_col }}&entity=person&format=json"><small>JSON</small></a>
                                        <small> - </small>
                                        <a class="people-ex" href="{% url 'termdetailexport' term.id %}?col={{ po_col }}&entity=person&format=xml"><small>XML</small></a>
                                        <small> - </small>
                                        <a class="people-ex" href="{% url 'termdetailexport' term.id %}?col={{ po_col }}&entity=person&format=csv"><small>CSV</small></a>
                                        <small style="float: right; margin: 10px 0 20px;">{{ po_col_title }}</small>
                                    </h3>
                                </div>
                                <div class="col-sm-2">
                                    {% if people_collections %}
                                        <button class="btn btn-default dropdown-toggle" style="margin: 40px 0 0;" type="button" data-toggle="dropdown">
                                            Collection:
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{% url 'termdetail' term.id %}?pocol=0">All Objects</a></li>
                                            {% for collection in people_collections %}
                                                <li><a href="{% url 'termdetail' term.id %}?pocol={{ collection.id }}">{{ collection.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div id="po-ex-warning" class="alert alert-warning" role="alert" style="display: none;">
                                <p>Exporting large queries may take several minutes, please do not leave this page until the download completes.</p>
                            </div>
                            {% render_table people_table %}
                        </div>
                    </div>
                    {% endif %}                    
                    
                    {% if term.get_siblings_same_type %}
                    <div class="row" id="siblings">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>Related Terms</h3>
                                </div>
                            </div>
                            <p>
                                {% for sibling in term.get_siblings_same_type %}
                                    {% if forloop.counter0 > 0 %} - {% endif %}<a href="{% url 'termdetail' sibling.id %}">{{ sibling.title }}</a>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    {% endif %}
                    {% if term.get_children_same_type %}
                    <div class="row" id="children">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>Child Terms</h3>
                                </div>
                            </div>
                            <p>
                                {% for child in term.get_children_same_type %}
                                    {% if forloop.counter0 > 0 %} - {% endif %}<a href="{% url 'termdetail' child.id %}">{{ child.title }}</a>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    {% endif %}                    
                </div>
                
                <div class="col-md-4">
                    <div class="well filters">
                    
                        <h3>Share</h3>
                        <p><a href="mailto:?subject=[From {{ site_name }}] View this Term&amp;body=You can view this term at {{ term.get_full_absolute_url }}" target="_blank"> Email</a> | <a href="{% url 'admin:base_controlfield_change' term.id %}" target="_blank"> Edit</a></p>
                        <hr />
                        
                        {% if term.get_ancestors %}
                            <h3>Parent Terms</h3>
                                <p>
                                    {% for anc in term.get_ancestors %}
                                        <a href="{% url 'termdetail' anc.id %}">{{ anc.title }}</a> >
                                    {% endfor %}
                                    {{ term.title }}
                                </p>                                
                            <hr />                                
                        {% endif %}

                        {% if linked_data %}
                            <h3>Linked Resources</h3>
                            {% for web in linked_data %}
                                <p>
                                    <a href="{{ web.link }}">{{ web.source.title }}</a>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>                 
                
            </div>  
        </div>
    </section>
{% endblock %}

{% block js %}

{{ block.super }}

  <script type="text/javascript">
    $(document).ready(function(){
        $('.subj-ex').click(function() {
            $('#subj-ex-warning').show();
        })
        $('.loc-ex').click(function() {
            $('#loc-ex-warning').show();
        })        
    });
  </script>

{% endblock %}