{% extends "_layouts/base.html" %}
{% load staticfiles base_tags mptt_tags %}
{% load render_table from django_tables2 %}

<!-- Metadata -->
{% block page_title %}Terminology{% endblock %}
<!-- End Metadata -->

{% block pageheader %}
    <div class="page-header">
        <div class="container page-header-content">
            <h1>Terminology</h1>
        </div>
        <div class="overlay"></div>
    </div>
{% endblock %}

{% block content %}
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                {% for prop in cntl_props %}
                    {% if forloop.counter0|divisibleby:3 %}
                        </div>
                        <div class="row">
                    {% endif %}
                    <div class="col-md-4">
                        <h2><a href="{% url 'propertydetail' prop.pk %}">{{ prop.property }}</a></h2>
                        <p>{{ prop.notes }}</p>
                        <ul>
                            {% for term in prop.controlfield_set.all|slice:":5" %}
                                <li><a href="{% url 'termdetail' term.pk %}">{{ term.title }}</a></li>
                            {% endfor %}
                        </ul>
                        <p>
                            <a class="btn btn-default" href="{% url 'propertydetail' prop.pk %}" role="button">See All »</a>
                        </p>
                    </div>
                {% endfor %}
            </div>  
        </div>
    </div>
{% endblock %}

{% block js %}

{{ block.super }}

{% endblock %}