{% extends "_layouts/base.html" %}
{% load staticfiles base_tags mptt_tags %}
{% load render_table from django_tables2 %}

<!-- Metadata -->
{% block page_title %}Terminology{% endblock %}
<!-- End Metadata -->

{% block pageheader %}
    <div class="page-header">
        <div class="container page-header-content">
            <h1>Terminology</h1>
        </div>
        <div class="overlay"></div>
    </div>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">

                {% for prop in cntl_props %}
                    {% if forloop.counter0|divisibleby:2 %}
                        </div><div class="row">
                    {% endif %}
                
                    <div class="col-md-6">
                        <h2>{{ prop.property }}</h2>
                        <p>{{ prop.notes }} &nbsp;<a href="{% url 'propertydetail' prop.pk %}">View details »</a></p>
                        {% for term in prop.controlfield_set.all|slice:":25" %}
                            <a href="{% url 'termdetail' term.pk %}" class="label label-primary">{{ term.title }}</a>
                        {% endfor %}
                        <br /><br />
                    </div>
                
                {% endfor %}
            </div> 
        </div>
    </section>
{% endblock %}

{% block js %}

{{ block.super }}

{% endblock %}