.btn {
    padding: 12px 20px;
    border-radius: 0;
    border: 0;
    font-size: 1.8rem;
    margin: 0 0 20px;
    transition: 0.5s all;
    font-family: $serif;
    font-style: italic;
    position: relative;
    top: 0;

    &:hover, &:focus, &:active {
        top: -10px;
    }

    & + .btn {
        margin-left: 15px;
    }

    &.btn-default {
        background: $gold;
        color: white;

        &:hover, &:focus, &:active {
            background: darken($gold, 10%);
        }
    }
    &.btn-primary {
        background: $orange;
        color: white;

        &:hover, &:focus, &:active {
            background: darken($orange, 10%);
        }
    }
    &.btn-gray {
        border: 2px solid gray;
        font-size: 1.4rem;
        font-style: normal;
        color: gray;
        background: white;
        padding: 8px 12px 8px 12px;

        &:hover, &:focus, &:active {
            background: $lightgray;
        }
        & + .dropdown-menu {
            margin: 0;
            padding: 0;
            border-radius: 0;
            border: none;
            box-shadow: 0 2px 10px rgba(0,0,0,0.35);
            max-height: 300px !important;
    
            a {
                padding: 8px 20px;
                font-weight: 400 !important;
                color: #333 !important;
            }
        }
    }
    &.btn-lg {
        font-size: 2.4rem;
        padding: 20px 28px;
    }

    > span {
        font-style: normal;
        margin-left: 10px;
    }
}
