.browse-block {
    display: block;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    height: 225px;    
    margin-bottom: 30px;
    position: relative;
    transition: 0.5s all;
    background-size: cover;
    background-position: center center;

    &.browse-block-lg {
        height: 300px;
    }

    .browse-block-title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: $lightgray;
        padding: 10px;

        h4 {
            float: left;
            margin: 0;
            color: $black;
            font-weight: 400;
            font-family: $serif;
            font-style: italic;
            line-height: 1.4;
        }
        .arrow {
            float: right;
            color: $black;
        }
        .badge {
            float: left;
            background: white;
        }
    }

    &:hover, &:focus, &:active {
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
    }
}
