#template {
    padding-bottom: 100px;

    img,
    figure {
        background: $lightgray;

        &.pull-left {
            margin: 12px 20px 15px 0;
            max-width: 400px;
        }
        &.pull-right {
            margin: 12px -90px 15px 20px;
            max-width: 600px;
        }

        figcaption {
            padding: 8px 12px;
            font-style: italic;
            font-size: 1.4rem;
        }
    }
    img.full-width {
        max-width: 100%;
        margin: 20px 0;
    }
    img.bio-img {
        max-width: 200px;
    
        @media screen and #{$screen-xs} {
            max-width: 100%;
        }
    }
}

#files {
    .enlarge-file {
        position: relative;

        &:hover, &:focus, &:active {
            span {
                opacity: 1;
            }
        }

        a {
            height: 150px;
            background: $lightgray;
            overflow: hidden;
            display: flex;
        }
        span {
            position: absolute;
            font-size: 4.8rem;
            color: white;
            opacity: 0.5;
            top: 50%;
            left: 50%;
            margin-top: -25px;
            margin-left: -25px;
            transition: 0.5s all;
        }
        
        img {
            width: 100%;
            height: auto;
        }
    }
}
