#template {
    padding-bottom: 100px;

    img,
    figure {
        background: $lightgray;

        &.pull-left {
            margin: 12px 20px 15px 0;
        }
        &.pull-right {
            margin: 12px -90px 15px 20px;
        }

        figcaption {
            padding: 8px 12px;
            font-style: italic;
            font-size: 1.4rem;
        }
    }
    img.full-width {
        max-width: 100%;
        margin: 20px 0;
    }
}
